@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var fullName = UserManager.GetUserAsync(User).Result?.FullName;
        var displayName = string.IsNullOrEmpty(fullName) ? User.Identity?.Name : fullName;
    <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="white-space: nowrap;">Hello @displayName!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>
    </li>

                                <li class="nav-item">
                            <a class="nav-link" asp-action="Profile" asp-controller="Home"><i class="fas fa-user"></i></a>
                        </li>



}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-user"></i></a>
    </li>
}
</ul>
