@model RecipeWebbApplication.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <input asp-for="Instructions" class="form-control" />
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrepTimeMinutes" class="control-label"></label>
                <input asp-for="PrepTimeMinutes" class="form-control" />
                <span asp-validation-for="PrepTimeMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookTimeMinutes" class="control-label"></label>
                <input asp-for="CookTimeMinutes" class="form-control" />
                <span asp-validation-for="CookTimeMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servings" class="control-label"></label>
                <input asp-for="Servings" class="form-control" />
                <span asp-validation-for="Servings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <select asp-for="Difficulty" asp-items="ViewBag.DifficultyList" class="form-control">
                    <option value="">-- Select Difficulty --</option>
                </select>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
                
            </div>
             <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
              @*
            <div class="form-group">
                <label asp-for="CreatedByUserId" class="control-label"></label>
                <select asp-for="CreatedByUserId" class ="form-control" asp-items="ViewBag.CreatedByUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div> *@



            <input type="hidden" asp-for="CreatedByUserId" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="UpdatedAt" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
